.pageCart {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 50px;
    &-item {
        &:nth-child(2) {
            margin-left: 40px;
            width: 450px;
            flex-shrink: 0;
        }
        &.products {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }
}