.pageCart {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 50px;
    &-item {
        &:nth-child(2) {
            margin-left: 40px;
            width: 450px;
            flex-shrink: 0;
        }
        &.products {
            width: 100%;
        }
    }
    .empty{
        padding: 20px 30px 10px;
        a {
            font-weight: 600;
            color: #2f53d0;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }
}