.pageCheckout {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 50px;
    &-item {
        width: 100%;
        &:nth-child(2) {
            margin-left: 40px;
            width: 450px;
            flex-shrink: 0;
        }
    }
    &-information {
        &-form {
            display: grid;
            grid-gap: 20px;
            .type-client {
                display: flex;
                gap: 8px;
            }
            .form-group {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
    }
}