.layout {
    display: flex;
    padding-bottom: 120px;
    &-sidebar {
        &-left {
            padding-top: 30px;
            width: 340px;
            background: #fff;
            position: fixed;
            left: 0;
            height: calc(100% - (100px + 0px));
            @include media(mobile) {
                display: none;
            }
        }
    }
    &-content {
        position: relative;
        flex: 0 0 calc(100% - 340px);
        max-width: calc(100% - 340px);
        margin-left: auto;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        &.whsidebar {
            flex-basis: auto;
            max-width: 100%;
            width: 100%;
            margin: unset;
        }
        @include media(mobile) {
            max-width: 100%;
            flex-basis: auto;
            margin-left: initial;
            width: 100%;
        }
    }
}