.stepper {
    padding: 30px 30px 0;
    display: flex;
    span {
        flex: 1;
        font-size: 20px;
        font-weight: 700;
        color: #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
            justify-content: left;
        }
        &:last-child {
            display: none;
        }
        &.active {
            color: #212121;
        }
    }
    &-content {
        padding: 30px 30px 0;
    }
}