.tableOrder {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    thead {
        overflow: hidden;
        background-color: #f7f7f7;
        .product-name {
            border: 0;
            padding: 16px 12px;
            font-size: 16px;
            color: #212121;
            font-weight: 600;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #e6e6e6;
            td {
                border: 0;
                padding: 16px 12px;
                color: #212121;
                font-weight: 400;
                background-color: #fff;
                &.product-name {
                    span {
                        white-space: break-spaces;
                    }
                }
                &.product-total{
                    text-align: right;
                }
            }
        }
    }
    tfoot {
        tr {
            border-bottom: 1px solid #e6e6e6;
            th {
                border: 0;
                padding: 6px 0;
                font-size: 16px;
                font-weight: 600;
                color: #212121;
            }
            td {
                text-align: right;
                .shipping {
                    list-style: none outside;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        
    }
}