@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');
@import 'react-toastify/dist/ReactToastify.css';
@import '@redq/reuse-modal/lib/index.css';
@import 'react-tippy/dist/tippy.css';

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  *, *::before, *::after {
    box-sizing: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
}

body {
    color: #212121;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #f9f9f9;
}
h1, h2, h3, h4 {
  font-family: "Gilroy", sans-serif;
} 


//Breakpoints
$xsmall-screen: 320px;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1200px;
$xlarge-screen: 1360px;

//Width column
@function col($columns, $total) {
  @return (100% / $total) * $columns;
}



@mixin media($types...) {
  @each $type in $types {

    //only mobile or mobile down
    @if $type==mobile {
      @media only screen and (max-width: $medium-screen - 1) {
        @content;
      }
    }

    @if $type==mobile-tablet {
      @media only screen and (min-width: $small-screen) {
        @content;
      }
    }

    //tableb up
    @if $type==tablet {
      @media only screen and (min-width: $medium-screen) and (max-width: $large-screen - 1) {
        @content;
      }
    }

    //desktopmini up
    @if $type==desktopmini {
      @media only screen and (min-width: $large-screen) {
        @content;
      }
    }

    //desktop up
    @if $type==desktop {
      @media only screen and (min-width: $xlarge-screen) {
        @content;
      }
    }
  }
}

@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      color: #61bd4f;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// Componentes
@import "components/layout/layout.scss";
@import "components/layout/header";
@import "components/treemenu";
@import "components/input.scss";
@import "components/search.scss";
@import "components/tableorder.scss";

@import "components/product/card";
@import "components/product/actioninput";
@import "components/product/view";
@import "components/product/itemcart";
@import "components/product/itemsearchbox";
@import "components/sidebarcart";
@import "components/stepper";

// Pages
@import "pages/product";
@import "pages/checkout";
@import "pages/cart";

@import "global"